/* 1. Import font dari Google Fonts dulu */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* 2. Baru import Tailwind */
@import "tailwindcss";

/* 3. Baru deklarasi theme & custom */
@theme {
  --font-azeret: "Azeret Mono", monospace;
}
@layer base {
  body {
    font-family: var(--font-azeret);
  }
  html {
    scroll-behavior: smooth;
  }
  a {
    cursor: none;
  }
  button {
    cursor: none;
  }
  .cursor {
    width: 14px;
    height: 14px;
    background: radial-gradient(circle, #3b82f6, #06b6d4);
    border-radius: 50%;
    mix-blend-mode: difference;
    position: fixed;
    pointer-events: none;
    transition: transform 0.3s ease;
  }
  .cursor-hover {
    transform: scale(2);
  }
}
